
@{
    ViewBag.Title = "Fileupload";
}

<h2>Fileupload</h2>



@*@using ( Html.BeginForm("Fileupload", "Home", FormMethod.Post, new { encypt = "multipart/form-data" }))
{
    <input type="file" name="f" />
    <input type="submit" name="submit" value="submit" />
}*@

@using(Html.BeginForm("Fileupload", "Home", FormMethod.Post,new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="f" />
                <input type="submit" name="submit" value="submit" />
             }
